<h1> Update Task </h1>


<%= form_for @task do |f| %>
  <%= f.label :title, value: "title" %>
  <%= f.text_field :title %>
  <%= f.label :details, value: "details" %>
  <%= f.text_field :details %>
  <%= f.label :completed, value: "completed" %>
  <%= f.check_box :completed %>
  <%= f.submit %>
<% end %>


<p> <%=link_to "Return to tasks", tasks_path%> </p>
