<h1> My Tasks </h1>

<% @tasks.each do |task|%>
<div class = "inline-field">
  <input type="checkbox" <%= task.completed==true ? "checked = true"  : nil%> onclick="return false"; />
  <%= link_to task_path(task) do %>
  <label for="checkbox"><%=task.title%> </label>
  <% end %>
  <%= link_to task_path(task), method: :delete, :data => {:confirm => "Are you sure you want to delete this lovely task?"}  do%>
  <i class="fas fa-trash-alt"></i>
  <%end%>
</div>
<%end %>

<p> <%=link_to "+ Add a new task", new_task_path%> </p>
